# You aren't really supposed to edit this file,
# add your own changes into .envrc.local

# Need to set in .envrc.local:
# export VAULT_AUTH_METHOD="..." # token, oidc
# export VAULT_ADDR="..."
# export VAULT_NAMESPACE="admin"

# If OIDC is in a different namespace than the one you want to work in.
# export VAULT_NAMESPACE_OIDC="...";
export STORAGE_PATH="./storage"
# export VAULT_KV_MOUNT="kv"

source_env_if_exists .envrc.local

# if [[ "$VAULT_AUTH_METHOD" == "oidc" && -z "${VAULT_TOKEN-}" ]]; then
#     echo ">>> Logging in to Vault"
#     if token=$(VAULT_NAMESPACE="${VAULT_NAMESPACE_OIDC:-${VAULT_NAMESPACE}}" vault login -method=oidc -field=token -no-store 2>/dev/null); then
#         echo ">>> Login successful"
#         export VAULT_TOKEN="${token}"
#     else
#         echo ">>> Login failed"
#     fi
# fi
