# You aren't really supposed to edit this file,
# add your own changes into .envrc.local

# Need to set in .envrc.local:
# export VAULT_ADDR="..."
# export VAULT_NAMESPACE="admin"

source_env_if_exists .envrc.local
